@import "../../app.component";

.images-wrapper {
  display: flex;
  flex-direction: row;
  max-width: 95% ;
  padding: 0 5%;
  max-height: 700px;
  user-select: none;
  background-color: #212121;
  cursor: grab;
  margin: 0 auto;
  &:active {
    cursor: grabbing;
  }
}

.images {
  display: grid;
  position: relative;
  z-index: 11;
  grid-template: 1fr 1fr /1fr 1fr;
  grid-gap: 40px 60px;
  margin: auto;
}


.image__item {
  width: 400px;
  height: 300px;
  box-shadow: 4px 4px 5px #000;
  transition: ease-in 100ms;

  &:hover {
    transform: scale(1.2);
  }
}

.image__hidden {
  display: none;
}

@media (max-width: 1199px) {

  .images {
    grid-template: 1fr /1fr;
  }


}
