@import "../../app.component";

.quotes-wrapper {
  user-select: none;
  width: 1500px;
  height: 700px;
  background-color: #212121;
  margin: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: grab;

  &:active {
    cursor: grabbing;
  }
}

.quotes {
  margin: 0;
  width: 0;
  height: 100%;
}

.quote-top {
  position: relative;
  top: 10px;
  left: -530px;
}

.quote-middle {
  position: relative;
  top: 10px;
  left: -530px / 2 + 0;
}

.quote-bottom {
  position: relative;
  top: 10px;
  left: 0;
}

