<div class="quotes-wrapper" id="quotes">
  <div class="btn__wrapper">
    <button class="btn" (click)="onPrev()">
      &#x2039;
    </button>
  </div>
  <div class="quotes" [@quoteAnim]>
    <app-quote
      [quote]="quotes.quoteTop"
      class="quote-top"
    ></app-quote>
    <app-quote
      [quote]="quotes.quoteMiddle"
      class="quote-middle"
    ></app-quote>
    <app-quote
      [quote]="quotes.quoteBottom"
      class="quote-bottom"
    ></app-quote>
  </div>
  <div class="btn__wrapper">
    <button class="btn btm-next" (click)="onNext()">
      &#x203A;
    </button>
  </div>
</div>
