.wrapper {
  display: grid;
  grid-gap: 50px;
  grid-template-rows: 1fr 1fr 1fr;
  justify-items: center;
  padding: 55px 0;
  width: 100%;
  height: 2500px;
  background-color: #212121;
  margin: 0;
}

.btn {
  cursor: pointer;
  border: none;
  background-color: #212121;
  outline: 0;
  font-size: 200px;
  margin: auto 35px;
  width: 100px;
  height: 80%;
  border-radius: 25px;
  text-shadow: 0 0 5px #fff;
  transition: ease-out 150ms;

  &:hover {
    text-shadow: 0 0 5px #fff;
    box-shadow: inset 0 0 5px rgba(101, 114, 126, 50), 0 0 25px rgba(140, 150, 170, 50)
  }

  &:active {
    color: rgb(255, 255, 255);
    text-shadow: 0 0 7px #fff;
    box-shadow: inset 0 0 5px rgba(101, 114, 126, 50), 0 0 5px rgba(140, 150, 170, 50)
  }
}
