@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;600&display=swap');

.quote {
  max-width: 500px;
  min-height: 160px;
  padding: 15px;
  margin: 30px 0;
  background-color: rgb(250, 250, 250);
  border-right: rgb(100, 100, 100) 3px solid;
  border-bottom: rgb(100, 100, 100) 4px solid;
  box-shadow: 6px 8px 2px rgba(0, 0, 0, 1);
  font-family: 'Nunito Sans', sans-serif;
  text-align: center;
}

.quote-text {
  display: flex;
  min-height: 100px;
  font-weight: 700;
  font-size: 24px;
}

.text {
  margin: auto;
  color: rgb(0, 0, 0);
  text-shadow: 0 0 0 rgba(0, 0, 0, 1), 0 0 1px rgba(70, 70, 70, 1);
}

.quote-author {
  display: flex;
  height: 50px;
  font-style: italic;
}

.author {
  margin: auto;
}
