@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,100&display=swap');

.card-wrapper {
  display: flex;
  height: 900px;
}

.card {
  margin: auto;
  padding: 20px;
  width: 400px;
  max-height: 900px;
  background-color: rgb(250, 250, 250);
  transition: ease-in 100ms;
  box-shadow: 5px 7px 2px rgba(0, 0, 0, 1);

  &:hover {
    box-shadow: 15px 21px 6px rgba(0, 0, 0, 1);
    transform: scale(1.18);
  }
}

.image {
  width: 440px;
  margin-left: -20px;
  margin-top: -25px;
  height: 240px;
}

.name {
  width: 100%;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 23px;
  margin: 10px 0 0 0;
}

.studio {
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-style: italic;
  text-align: right;
  margin-bottom: 10px;
}

.description {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 18px;
  text-indent: 30px;
  text-align: justify;
}





