@import "../../app.component";

.cards-wrapper {
  width: 1800px;
  height: 900px;
  display: flex;
  padding: 20px;
  flex-direction: row;
  justify-content: center;
  user-select: none;
}

.cards {
  width: 660px;
  cursor: grab;

  &:active {
    cursor: grabbing;
  }
}
