@import "../../app.component";

.cards-wrapper {
  max-width: 1800px;
  max-height: 900px;
  display: flex;
  padding: 0 20px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  user-select: none;
  margin: 0 auto;
}

.cards {
  width: 660px;
  cursor: grab;

  &:active {
    cursor: grabbing;
  }
}

.cards__hidden {
  display: none;
}
